<div class="p-3">
    <h4 class="mx-auto">Cadastro de Livros</h4>
</div>
<div class="row">
    <div class="col-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Capa</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Título</th>
                    <th scope="col">Género</th>
                    <th scope="col">Sinopse</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let livro of livros">
                    <th scope="row">{{ livro.id}}</th>
                    <td>
                        <img [src]="fileService.getCapa(livro.capa)" class="mr-2" style="width: 50px">
                    </td>
                    <td>{{ livro.autor  }}</td>
                    <td>{{ livro.titulo }}</td>
                    <td>{{ livro.genero  }}</td>
                    <td>{{ livro.sinopse  }}</td>
                    <td> <button class="btn btn-primary" (click)="update(livro.id)">Editar</button>
                        | <button class="btn btn-danger" (click)="desabilitar(livro.id)">Desabilitar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <form [formGroup]="livroForm" (ngSubmit)="submitForm()">
            <div class="form-group">
                <label for="autorInput">Autor</label>
                <input type="text" class="form-control" id="autorInput"
                    placeholder="Machado de Assis, Nuno Cobra, etc.">
            </div>
            <div class="form-group">
                <label for="tituloInput">Titulo</label>
                <input type="text" class="form-control" id="tituloInput" placeholder="Titulo do Livro">
            </div>
            <div class="form-group">
                <label for="generoInput">Género</label>
                <input type="text" class="form-control" id="generoInput" placeholder="Género do Livro.">
            </div>
            <div class="form-group">
                <label for="sinopseInput">Sinopse</label>
                <input type="text" class="form-control" id="sinopseInput" placeholder="Sinopse do Livro.">
            </div>
            <div class="form-group">
                <label for="capaInput">Capa</label>
                <input type="input" class="form-control" id="capaInput">
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>